<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Python UNO Game</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='gameplay.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Honk:MORF@15&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <h1 class="python-uno-title">It's {{ current_player }}'s Turn!</h1>
    </header>
    <main>
      <div class="table-top">
        {% for card in player_hand %}
        <div class="card opponent-card">
          <div class="rectangle">
            <h2 class="uno-title">UNO</h2>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="table-left">
        {% for card in player_hand %}
        <div class="card opponent-card">
          <div class="rectangle">
            <h2 class="uno-title">UNO</h2>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="table-center">
        <div class="card draw-deck" onclick="">
          <div class="rectangle">
            <h2 class="uno-title">UNO</h2>
          </div>
        </div>
        <div class="card discard-pile">
          <img
            src="/static/images/Card Images/{{ top_card }}.png"
            alt=""
            class="card-img"
          />
        </div>
      </div>
      <div class="table-right">
        {% for card in player_hand %}
        <div class="card opponent-card">
          <div class="rectangle">
            <h2 class="uno-title">UNO</h2>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="table-bottom">
        {% for card in player_hand %}
        <div class="card">
          <div class="card-inner">
            <div class="card-front">
              <img
                src="/static/images/Card Images/{{ card }}.png"
                class="card-img"
              />
            </div>
            <div class="card-back">
              <div class="rectangle">
                <h2 class="uno-title">UNO</h2>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </main>
    <script src="{{ url_for('static', filename='gameplay.js') }}"></script>
  </body>
</html>
