<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Python UNO Game</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='gameplay.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Honk:MORF@15&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <h1 class="python-uno-title">It's {{ current_player }}'s Turn!</h1>
    </header>
    <main>
      <div class="table-top">
        {% for i in range(opponent_counts[0]) %}
        <div class="card opponent-card">
          <div class="rectangle">
            <h2 class="uno-title">UNO</h2>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="table-left">
        {% for i in range(opponent_counts[1]) %}
        <div class="card opponent-card">
          <div class="rectangle">
            <h2 class="uno-title">UNO</h2>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="table-center">
        <div class="card draw-deck" onclick="draw_card()">
          <div class="rectangle">
            <h2 class="uno-title">UNO</h2>
          </div>
        </div>
        <div class="card discard-pile">
          <img
            src="/static/images/Card Images/{{ top_card }}.png"
            alt=""
            class="card-img"
          />
        </div>
      </div>
      <div class="table-right">
        {% for i in range(opponent_counts[2]) %}
        <div class="card opponent-card">
          <div class="rectangle">
            <h2 class="uno-title">UNO</h2>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="table-bottom">
        {% for card in player_hand %}
        <div class="card" onclick="play_card({{ loop.index0 }}, '{{ card }}')">
          <div class="card-inner">
            <div class="card-front">
              <img
                src="/static/images/Card Images/{{ card }}.png"
                class="card-img"
              />
            </div>
            <div class="card-back">
              <div class="rectangle">
                <h2 class="uno-title">UNO</h2>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </main>

    <!-- Color Picker Modal -->
    <div class="modal-overlay" id="color-picker">
      <div class="modal-content">
        <h2 class="color-picker-prompt">Choose a Color</h2>
        <div class="color-buttons">
          <button
            class="color-btn"
            style="
              background-color: red;
              width: 50px;
              height: 50px;
              border-radius: 15px;
            "
            onclick="selectColor('red')"
          ></button>
          <button
            class="color-btn"
            style="
              background-color: yellow;
              width: 50px;
              height: 50px;
              border-radius: 15px;
            "
            onclick="selectColor('yellow')"
          ></button>
          <button
            class="color-btn"
            style="
              background-color: green;
              width: 50px;
              height: 50px;
              border-radius: 15px;
            "
            onclick="selectColor('green')"
          ></button>
          <button
            class="color-btn"
            style="
              background-color: blue;
              width: 50px;
              height: 50px;
              border-radius: 15px;
            "
            onclick="selectColor('blue')"
          ></button>
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='gameplay.js') }}"></script>
  </body>
</html>
