<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Python UNO Game</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Honk:MORF@15&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1>Welcome To Python Uno!</h1>
    <p>
      This is a UNO Game created in Python using Flask for frontend rendering!
      Have Fun!
    </p>

    <button>Draw Card</button>
    <div class="card">
      <div class="rectangle">
        <h2 class="uno-title">UNO</h2>
      </div>
    </div>
  </body>
</html>
